# This file will contain steps on how to read a file (csv) and join tables to create a new file (csv) along with other python examples

In [ ]:
import csv
import pandas as pd
import numpy as np
import datetime
from datetime import date
import os
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 200) 
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(color_codes=True)
from jinja2 import Template
import sys
#reload(sys)
#sys.setdefaultencoding('UTF8')
import matplotlib
import sqlalchemy as sa
#(import database as cc)
%matplotlib inline 
##### Finding tables and columns 
#cc.run_query("""SELECT TOP 10 * from dbc.columnsV""")

- First we read the csv (if it's numbers file, export to csv before using pd.read function)

In [ ]:
data = pd.read_csv('Example.csv')
#As an example we will choose a column and display the result.  
final_data = data['Id']     
print(final_data)

#You can check how many categories of items there are in the dataframe using pandas
final_data_details = pd.DataFrame(final_data) 
final_data_details = final_data_details[['Id']]
print (final_data_details.Id.value_counts())

In [ ]:
#This variable will format a dictionary that will contain id numbers if running in a sql query.
ids = "("+ ', '.join("'{0}'".format(w) for w in final_data )+")"

In [ ]:
#Example query and assuming both tables have a primary key to join tables
#You can also run an inner join if you need to select max hire date and compare to another date found in anoth
employee ="""
SELECT
a.id,
a.name,
b.phone_nr, 
a.address
FROM z.employees a
JOIN z.employee_details b
ON a.id = b.id
WHERE a.id IN {ids}
qualify row_number() over (partition by a.id order by b.address desc) =1
order by 2
""".format(ids=ids)

#Setup database connection and following statement will run query
result= cc.run_query(employee)

In [ ]:
table=td.result
export_csv=table.to_csv('EmployeeInfo.csv', index = 0, header = 1)

This will allow you to create a volatile table

In [ ]:
%%sql
CREATE VOLATILE TABLE name_your_table as
(SELECT 
 a
 b
 c 
 where a in ('x','y','z')
)
WITH DATA
ON COMMIT PRESERVE ROWS

In [ ]:
#If working with simple tables or if statements with what tables to you you can do the following: 
table_schema = "nameofschema" 
table_name = "nameoftable"
full_table_name =  table_schema + "." + table_name

count = td.run_query("select count(1) as c from {full_table_name}".format(**locals()))
results = td.run_query("select distinct * from {full_table_name}".format(**locals()))
print(count,results)

In [ ]:
#Python examples

In [ ]:
def foo(x): 
    return x * x

In [ ]:
foo(6)

In [ ]:
(df
 [['a', 'b', 'c']]
 .sort_values(['b', 'c'])
 .groupby('b')
 .sum())
(jack
    .withJill()
    .runs()
    .uphill())
uphill(runs(withJill(jack)))

In [ ]:
import numpy as np

In [ ]:
ys = pd.Series([1,2,3,4])

In [ ]:
[y*y for y in ys]

In [ ]:
[x for x in ys.iteritems()]

In [ ]:
[x for x in ys]

In [ ]:
[y[1] for y in ys.items()]

In [ ]:
[y for _, y in ys.items()]